body{
    background-color: #F1EEDC;
}
.nav{
    overflow: hidden;
    background-color: #B3C8CF;
    border-radius: 10px;
}
.nav a{
    float:left;
    color: white;
    text-decoration: none;
    display: block;
    color: #f2f2f2;
    text-align: center;
    border-radius: 10px;
    padding: 14px;
}
.nav a:hover{
    color: blue;
    background-color: #F6F5F2;
}
.content{
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky + .content {
    padding-top: 60px;
  }

.details{
    display: grid;
    padding: 10px;
    height: auto;
    grid-template-columns: 1.5fr .5fr;
    width: 80%;
    margin: auto;
}
.details > img {
    float: right;
    height: 200px;
    border-radius: 20px;
    margin: auto;
}
.details_main{
    float: left;
    display: inline;
    height: auto;

}
.details_main > h4{
    float: left;
    margin: 0;
}
.details_main > h1{
    font-size: 2rem;
    text-align: center;
}
.objective{
    margin: auto;
    width: 80%;
}
.technical_skills{
    margin: auto;
    width: 80%;
}
.educ_h2{
    margin: auto;
    width: 80% 
}
.educ_background{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.items1{
    grid-area: 1;
}
.items2{
    grid-area: 1 / 2;
}
.items3{
    grid-area: 2;
}
.items4{
    grid-area: 2 / 2;
}
.items5{
    grid-area: 3; 
}
.items6{
    grid-area: 3 / 2;
}
.profile{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr;
    height: auto;
}
.profile_h2{
    width: 80%;
    margin: auto; 
}
.profile_detail{
    width: 80%;
    margin: auto; 
}
.work_exp_h2{
    width: 80%;
    margin: auto; 
}
.work_experiences{
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: .5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.cse{
    width: 80%;
    margin: auto;  
}
.seminars{
    width: 80%;
    margin: auto; 
}
.reference{
    width: 80%;
    margin: auto;
}
.back_button{
    float: left;
    color: whitesmoke;
    background-color: #BED7DC;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}
.back_button:hover{
    color: blue;
    background-color: #F6F5F2;
}

.title_h1{
    text-align: center;
    font-family: "sacramento", sans-serif;
    font-size: 3rem;
}
.section-footer{
    display: block;
    background-color: #B3C8CF;
    border-radius: 20px;
    text-align: center;
}
.socials{
    display: grid;
    margin: auto;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }
  .socials a{
    color: black;
    text-decoration: none;
  }
  .socials a:hover{
    color: blue;
  }
  .section-footer h3{
    padding: 10px;
  }
@media (max-width:800px) and (min-width:418px) {
.nav nav{
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.details{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.details > img{
    height: 100px;
    border-radius: 50px;
}
.details_main{
    grid-area: 2;
}
.educ_background{
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr .2fr 1fr .2fr 1fr;
    text-align: center;
}
.items1{
    grid-area: 1;
}
.items2{
    grid-area: 2;
}
.items3{
    grid-area: 3;
}
.items4{
    grid-area: 4;
}
.items5{
    grid-area: 5; 
}
.items6{
    grid-area: 6;
}
.profile{
    text-align: center;
    grid-template-columns: 1fr;
}
.work_experiences{
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr .2fr 1fr .2fr 1fr .2fr 1fr;
    width: 90%;
}
}
