
Body{
    text-align: center;
    background-color: #F1EEDC;
}
.section-head{
    display: block;
    background-color: #B3C8CF;
    border-radius: 20px;
    font-family: "Jersey 25", sans-serif;
    background-image: url("../assets/1338593.png");
    background-size: cover;
    height: 300px;
    
}
.section-head h1 {
    padding-top: 100px;
    color:white;
    font-size: 4rem;
    
}
.section-head h3{
    color: white;
    font-size: 2rem;
}
.section-footer{
    display: block;
    background-color: #B3C8CF;
    border-radius: 20px;
    text-align: center;
}
.section-footer h3{
  padding: 10px;
}
.hero {
  padding: 80px 0;
}
.hero-img {
  max-width: 480px;
  transform: scale(1.1);
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.15));
  border-radius: 50%;
}
.hero-img-container {
  background: radial-gradient(circle at bottom, rgba(0,0,0,0.15), transparent 70%);
  border-radius: 50%;
  padding: 40px;
  display: inline-block;
}
.socials{
  display: flex;
  flex-direction: column;
}
.socials a{
  color: black;
  text-decoration: none;
}
.socials a:hover{
  color: blue;
}

 