
Body{
    text-align: center;
    background-color: #F1EEDC;
}
.section-head{
    display: block;
    background-color: #B3C8CF;
    border-radius: 20px;
    font-family: "Jersey 25", sans-serif;
    background-image: url("../assets/1338593.png");
    background-size: cover;
    height: 300px;
    
}
.section-head h1 {
    padding-top: 100px;
    color:white;
    font-size: 4rem;
    
}
.section-head h3{
    color: white;
    font-size: 2rem;
}
.section-footer{
    display: block;
    background-color: #B3C8CF;
    border-radius: 20px;
    text-align: center;
}
.section-footer h3{
  padding: 10px;
}
.main-body{
    background-color: #BED7DC;
    height: auto;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    padding-bottom: 30px;
}
.profile-details > h2{
    font-family: "sacramento", "jersey 25";
    font-size: 3rem;
    color: white;
}
.profile > img{
    margin-top: 50px;
    height:300px;
    border-radius: 50%;

}
.list-projects{
    padding: 10px;
    display: grid;
    margin: auto;
    width: 50%;
    height: 300px;
    /*border: 1px solid black;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.items{
  padding: 10px;
  height: auto;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: justify;
}
.list-skills{
  padding: 10px;
  display: grid;
  height: auto;
  width: 50%;
  margin: auto;
  /*border: 1px solid black;*/
  margin-bottom:30px;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.items > img{
  padding:10px;
  float: left;
  height: 100px;
}
.button{
  background-color: green;
  border-radius: 40px;
  margin: auto;
  padding: 15px;
  color: white;
  text-decoration: none;
}
.button:hover{
  background-color: white;
  color: black;
}
.socials{
  display: grid;
  margin: auto;
  width: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}
.socials a{
  color: black;
  text-decoration: none;
}
.socials a:hover{
  color: blue;
}
@media (max-width:1200px) and (min-width:418px) {
  .main-body{
    width: 90%;
  }
  .profile > img{
    height:150px;
    border-radius: 20%;

}
  .list-projects{
    gap:10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: auto;
    width: 80%;
  }
  .list-skills{
    width: 80%;
    gap:10px;
  }
  .items{
    text-align: center;
  }
  .socials{
    width: 90%;
  }
}
 